<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品相信信息</title>
</head>
<body>
	<table border=1 width="100%">
		<caption>商品详细信息</caption>
		<tr>
			<td>商品种类：</td>
			<td><input type="text"></td>
			<td>商品分类：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>商品名称：</td>
			<td><input type="text"></td>
			<td>商品描述：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>商品价格：</td>
			<td><input type="text"></td>
			<td>促销价：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>商品颜色：</td>
			<td><input type="text"></td>
			<td>商品尺码：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>好评：</td>
			<td><input type="text"></td>
			<td>差评：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>销售量：</td>
			<td><input type="text"></td>
			<td>库存量：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>点击量：</td>
			<td><input type="text"></td>
			<td>关键字：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>

		<tr>
			<td>上架时间：</td>
			<td><input type="text"></td>
			<td>商品类型：</td>
			<td><input type="text"></td>
			<td></td>
		</tr>
	</table>
</body>
</html>