	<div id="arrowIcon" class="ico" style="z-index:1002;display:none;"></div>
	<div id="popup" class="popup" style="display:none;position:fixed;z-index:1001;">
		<div class="pop_pic"></div>
		<div class="pop_title">
			<span>[VT]印花T恤 滚石(女款) 黑色</span>
			<em>总销量：</em>
			<div class="good_box">
				<div class="isgood">12</div>
				<div class="ispoor">55</div>
			</div>
		</div>
		<div class="market"></div>
		<ul class="pop_price">
			<li class="price1">
				<strong>售价：￥59</strong>
			</li>
			<li class="price2">
				市场价：
				<del>￥159</del>
				<span></span>
			</li>
		</ul>
		<p class="pop_praise">
			<span>好评率</span>
			<em>89%</em>
		</p>
		<div style="clear:both;display:block;height:10px;width:1px;overflow:hidden;"></div>
		<div id="pop_comment">
			<div class="comment" style="position:relative">
				<!-- <div style="height:36px;word-wrap:break-word;overflow:hidden;margin:10px;">1340*****84：物流很快一天就到了，很好看，只是料子不太好。</div> -->

				<!-- <div style="height:36px;word-wrap:break-word;overflow:hidden;margin:10px;">**********ulie@hotmail.com：好看是好看！面前那块要是布做的就更好了！总体说喜欢！</div>
				<div style="height:36px;word-wrap:break-word;overflow:hidden;margin:10px;">ThirdSignweib*****：很漂亮！很喜欢！面料也很好</div>
				<div style="height:36px;word-wrap:break-word;overflow:hidden;margin:10px;">1340*****84：物流很快一天就到了，很好看，只是料子不太好。</div>
				<div style="height:36px;word-wrap:break-word;overflow:hidden;margin:10px;">不错呦,我就喜欢</div>
				<div style="height:36px;word-wrap:break-word;overflow:hidden;margin:10px;">买大了一码,悲剧</div> -->
			</div>
		</div>
	</div>