		<div class="z_simple_footer">
			<div class="z_copyright">
				<small>Copyright 2007 - 2014 vancl.com All Rights Reserved 京ICP证100557号 京公网安备11010102000579号 出版物经营许可证新出发京批字第直110138号</small>
			</div>
			<div class="z_safe_img">
				<div class="z_img_center">
					<img src="__PUBLIC__/Home/Images/cert_redlogo.png" alt="">
					<img src="__PUBLIC__/Home/Images/cert_costumeorg.gif" alt="">
					<img src="__PUBLIC__/Home/Images/cert_wsjybzzx.png" alt="">
				</div>
			</div>
		</div>
	</body>
</html>