<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>添加用户组</title>
		<style type="text/css">
			body{
				background:url('__PUBLIC__/Admin/Images/w70.png') repeat;
			}
			.add_group{
				width:100px;
			}
			table{
				border-collapse:collapse;
			}
			td{
				text-indent:30px;
				height:60px;
			}
			tr{
				border-top:2px solid #f9f0e0;
			}
			tr:hover{
				background:#f9f0e0;
			}
			th{
				color:#d39c59;
			}
		</style>
	</head>
	<body>
		<center>
			<center style="height:50px;line-height:50px;"><strong style="color:#d39c59;font-size:30px;">修改用户组</strong></center>
			<form action="__CONTROLLER__/updgroup/id/{$groups.id}" method="post">
				<table width="900">

					<!-- 修改用户组名称 -->
					<tr height="30">
						<th class="add_group">用户组名:</th>
						<td><input type="text" name="groupname" value="{$groups.groupname}" style="height:30px;"/></td>
					</tr>

					<!-- 修改用户组描述 -->
					<tr height="130">
						<th class="add_group">用户组描述:</th>
						<td><textarea name="description" cols="70" rows="5">{$groups.description}</textarea></td>
					</tr>

					<!-- 修改用户组的权限 -->
					<tr height="30">
						<th class="add_group">用户组权限:</th>
						<td>
							<input type="checkbox" name="useradmin" value="1" <if condition="$groups.useradmin eq 1">checked</if>/>用户管理权限
							<input type="checkbox" name="commentadmin" value="1" <if condition="$groups.commentadmin eq 1">checked</if> />发表评论权限
							<input type="checkbox" name="webadmin" value="1" <if condition="$groups.webadmin eq 1">checked</if> />网站管理权限
							<input type="checkbox" name="sendmessage" value="1" <if condition="$groups.sendmessage eq 1">checked</if> />发送消息权限
							<input type="checkbox" name="sendarticle" value="1" <if condition="$groups.sendarticle eq 1">checked</if> />发表文章权限
							<input type="checkbox" name="articleadmin" value="1" <if condition="$groups.articleadmin eq 1">checked</if> />文章管理权限
						</td>
					</tr>

					<!-- 保存修改按钮 -->
					<tr>
						<th colspan="6" style="text-align:center;height:80px;line-height:80px;">
							<input type="submit" value="保存修改"style="color:#d39c59;height:30px;width:110px;font-weight:bold;" />
						</th>
					</tr>	
				</table>
			</form>
		</center>
	</body>
</html>