<!doctype html>
<html>
	<head>
		<title>用户提问咨询</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="__PUBLIC__/Admin/Css/z_question.css">
		<link rel="stylesheet" href="__PUBLIC__/Admin/Css/bootstrap.css">
		<script src="__PUBLIC__/Admin/Js/jquery.js"></script>
	</head>
	<body>
		<div id="question_list">

			<!-- 顶部订单列表使用的搜索框，可以根据订单号进行搜索 -->
			<div class="z_question_search">
				<div>
					<div class="z_input_question">
						<span>输入关键词：</span><input  type="text" value="" name="keywords">
					</div>
					<button>搜索</button>
				</div>
			</div>
			<div class="question_skim">
				<table class="table table-hover qt_table">
					<tr>
						<td colspan="8" style="text-align:right;">
							<button>已处理</button>
							<button>未处理</button>
							<button>已审核</button>
							<button>未审核</button>
							<button>全部</button>
						</td>
					</tr>
					<tr>
						<th>选择</th>
						<th>商品名</th>
						<th>提问类型</th>
						<th>提问内容</th>
						<th>提问邮箱</th>
						<th>提问时间</th>
						<th>处理状态</th>
						<th>审核</th>
					</tr>

					<foreach name="question_data" item="question">
					<!-- 问题咨询列表遍历的开始 -->
						<tr>
							<td><input type="checkbox" name="ids[]" value="{$question.id}" class="question_status"></td>
							<td><a href="javascript:answer('{$question.id}')">{$question.name}</a></td>
							<td>{$question.type}</td>
							<td>{$question.content}</td>
							<td>{$question.email}</td>
							<td>{$question.ctime|date="Y-m-d H:i:s", ###}</td>
							<td>
								<input type="checkbox" name="status" value="1" <if condition="$question['status'] eq 1">checked</if>>已处理
								<input type="checkbox" name="status" value="0" <if condition="$question['status'] eq 0">checked</if>>未处理
							</td>
							<td>
								<input type="checkbox" name="pass" value="1" <if condition="$question['pass'] eq 1">checked</if>>可通过
								<input type="checkbox" name="pass" value="0" <if condition="$question['pass'] eq 0">checked</if>>不通过
							</td>
						</tr>
					<!-- 问题咨询列表遍历的结束 -->
					</foreach>

					<tr>
						<td colspan="8">
							<input type="button" value="全选" onclick="qx()">
							<input type="button" value="反选" onclick="fx()">
							<input type="button" value="全不选" onclick="qbx()">
							<input type="button" value="删除" onclick="dels()">
							<input type="button" value="设为已处理" onclick="action()">
							<input type="button" value="设为已通过" onclick="pass()">
						</td>
					</tr>
					<tr>
						<td colspan="8" class="question_page">{$page}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script>
		/*
			定义一个函数，用来局部动态请求该页面，每次点击页码时都是局部刷新操作，
			注意，不要自动调用一次该函数，否则会无限循环调用下去
			但是修改了框架中的分页类，重新改名为Page_ajax.class.php
			原分页类仍然是原名，不受影响
		*/
		function setPage(url) {
			$.get(url, function(data) {
				$('#question_list').html(data);
			});
		}

		//获取批量操作时的id号
		function getIds() {

			/*
				此时需要通过js方式获取所有复选框的选中状态，并且获得其value值传递到控制器中去
				算法是：先获取满足条件input输入框的个数
				声明一个空数组用来存取每个输入框的id值
				通过for循环遍历出所有满足条件的id值
				注意要使用eq()来过滤，下标从0开始读取
				然后使用jQuery中的ajax请求控制器中的方法，将订单表中的字段修改为已付款状态
			*/
			var length = $('input[type=checkbox].question_status:checked').length;
			var ids = new Array();
			for(var i = 0; i < length; i++) {
				ids[i] = $('input[type=checkbox].question_status:checked').eq(i).val();
			}

			//返回一个数组给调用处
			return ids;
		}

		/*
		全选，反选，全不选函数集合
		选中元素的方式$('input[type=checkbox].question_status')，过滤掉后面的状态按钮
		*/

		//全选函数
		function qx() {
			$('input[type=checkbox].question_status').attr('checked', 'true');
		}

		//反选函数
		function fx() {
			var length = $('input[type=checkbox].question_status').length;
			for(var i = 0; i < length; i++) {
				$('input[type=checkbox].question_status').eq(i).attr('checked', !$('input[type=checkbox].question_status').eq(i).attr('checked')) ;
			}
		}

		//全不选函数
		function qbx() {
			$('input[type=checkbox].question_status').removeAttr('checked');
		}

		//点击设为已处理状态时触发的方法
		function action() {

			//调用自定义函数获取所有已经选中的id值
			var ids = getIds();

			//将数据发送至控制器中，同时需要提供传递的状态标志值
			$.post("__CONTROLLER__/action", {ids : ids, status : 'action'}, function(data) {
				$('#question_list').html(data);
			});
		}

		//点击设为已通过状态时触发的方法
		function pass() {

			//调用自定义函数获取所有已经选中的id值
			var ids = getIds();

			//将数据发送至控制器中，同时需要提供传递的状态标志值
			$.post("__CONTROLLER__/action", {ids : ids, status : 'pass'}, function(data) {
				$('#question_list').html(data);
			});
		}

		//点击商品名称时触发该函数，用于回答提问和咨询
		function answer(id) {

			//该处id值是每一个提问对应的id记录
			$.post("__CONTROLLER__/answer", {id : id}, function(data) {
				$('#question_list').html(data);
			});
		}

		//用户点击删除时触发的操作，该操作将连同该条提问和该提问下面的回复(如果有)一并删除
		function dels() {

			var ids =  getIds();

			if (confirm("该操作删除提问，并连同该提问下面的所有回复都要被删除，你确认要删除吗？？？")) {

				//操作完成后直接跳转到提问列表页面
				$.post("__CONTROLLER__/questionDel", {ids : ids}, function(data) {
					$('#question_list').html(data);
				});
			}
		}
	</script>
</html>