<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>关联账户</title>
			<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/releaccount.css">
	</head>
	<body>
		<div id="rele_div">
			<span>关联账户</span>
		</div>
		<div id="rele_div2">
			<p>绑定主流社交网站账号,可以快速的将你在凡客商品和凡客达众人搭配分享朋友们,赶紧开始你的分享之旅吧!<br />
			提示:若您之前绑定的相关平台在此提示您再次操作,可能是由于各平台限制自然解除,或您在其他平台解除绑定,请点击"立即绑定"重<br />新关联相应平台.</p>
		</div>

		<!-- 循环遍历输出 -->
		<div class="rele_div3">
			<img src="__PUBLIC__/Home/Images/sina_weibo_icon.jpg" alt="">
			<span class="rele_span">
				<h5>新浪微博</h5>
				<p>http://www.weibo.com</p>
				<p><input type="button" value="立即绑定" style="height:25px;width:70px;font-size:15px;margin-top:15px;"></p>
			</span>
		</div>
		<div class="rele_div3">
			<img src="__PUBLIC__/Home/Images/sina_weibo_icon.jpg" alt="">
			<span class="rele_span">
				<h5>新浪微博</h5>
				<p>http://www.weibo.com</p>
				<p><input type="button" value="立即绑定" style="height:25px;width:70px;font-size:15px;margin-top:15px;"></p>
			</span>
		</div>
		<div class="rele_div3">
			<img src="__PUBLIC__/Home/Images/sina_weibo_icon.jpg" alt="">
			<span class="rele_span">
				<h5>新浪微博</h5>
				<p>http://www.weibo.com</p>
				<p><input type="button" value="立即绑定" style="height:25px;width:70px;font-size:15px;margin-top:15px;"></p>
			</span>
		</div>
		<div class="rele_div3">
			<img src="__PUBLIC__/Home/Images/sina_weibo_icon.jpg" alt="">
			<span class="rele_span">
				<h5>新浪微博</h5>
				<p>http://www.weibo.com</p>
				<p><input type="button" value="立即绑定" style="height:25px;width:70px;font-size:15px;margin-top:15px;"></p>
			</span>
		</div>
		<div class="rele_div3">
			<img src="__PUBLIC__/Home/Images/sina_weibo_icon.jpg" alt="">
			<span class="rele_span">
				<h5>新浪微博</h5>
				<p>http://www.weibo.com</p>
				<p><input type="button" value="立即绑定" style="height:25px;width:70px;font-size:15px;margin-top:15px;"></p>
			</span>
		</div>
		<div class="rele_div3">
			<img src="__PUBLIC__/Home/Images/sina_weibo_icon.jpg" alt="">
			<span class="rele_span">
				<h5>新浪微博</h5>
				<p>http://www.weibo.com</p>
				<p><input type="button" value="立即绑定" style="height:25px;width:70px;font-size:15px;margin-top:15px;"></p>
			</span>
		</div>

	</body>
</html>